*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:url('https://artrue.ru/wp-content/uploads/2018/09/Liric_Abstract-Helen_Frankenthaler-min.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    font-size: 3vh;
    width: 100%;
    min-height: 100vh;
}
.input{
    display: grid;
    width: 100%;
    text-align: end;
    border-bottom: solid 2px black ;
    padding: 1vw;
    margin-bottom: 1vw;
    grid-column: span 4;
    overflow:auto;
    word-wrap: break-word;
    font-size: 4vh;
}
.input::-webkit-scrollbar {
    height: 1vw;
}
  
.input::-webkit-scrollbar-track {
    background-color: #06060625;
    border-radius: 2em;
}
  
.input::-webkit-scrollbar-thumb {
    border-radius: 2em;
    background: rgb(0, 0, 0);
}

.btn{
    background-color:  rgba(135, 207, 235, 0.413);;
    border: solid 2px rgba(135, 207, 235, 0.479);
    border-radius: 1em;
    display: grid;
    place-items: center;
    height: 8vh;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(1, 7, 120, 0.479);
    border: none;
    color: white;
    transition: all 400ms cubic-bezier(0.500, 0.250, 0.500, 0.750);
}

.container{
    display: grid;
    padding: 1vw;
    justify-content: center;
    grid-template-columns: repeat(4, 10vh);
    gap: 2vw;
}